.cardproducto {
    background-color: gray;
    border-radius: 10px;
    width: 15rem;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.imgproducto {
    width: 200px;
    object-fit: contain;
    
    


}

.btnproducto {
    text-align: center;
    text-decoration: none;
    background-color: rgb(200, 38, 24);
    color: rgb(12, 10, 10);
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 10px;
    border: none;
}